.mode_1 {
  --gray-90: #1A1715;
  --brown-90: #4D1400;
  --green-90: #222917;
  --green-80: #363D2B;
  --green-70: #545B49;
  --green-60: #727967;
  --green-50: #909785;
  --green-40: #B8BFAD;
  --green-30: #E0E7D5;
  --green-20: #EDF4E2;
  --green-10: #F4F7F0;
  --brown-80: #6B321E;
  --brown-70: #89503C;
  --brown-60: #A76E5A;
  --brown-50: #C58C78;
  --brown-40: #C99F90;
  --brown-30: #DEBFB3;
  --brown-20: #F6E2DB;
  --brown-10: #FFF2EE;
  --gray-80: #383533;
  --gray-70: #565351;
  --gray-60: #74716F;
  --gray-50: #928F8D;
  --gray-40: #B0ADAB;
  --gray-30: #CECBC9;
  --gray-20: #ECE9E7;
  --gray-10: #F5F5F5;
  --red-90: #3E0000;
  --red-80: #55110E;
  --red-70: #702C29;
  --red-60: #8E4A47;
  --red-50: #AC6865;
  --red-40: #D89491;
  --red-30: #F2BFBD;
  --red-20: #FFDDDB;
  --red-10: #FAF5F4;
  --blue-90: #0F102F;
  --blue-80: #2D2E4D;
  --blue-70: #4B4C6B;
  --blue-60: #696A89;
  --blue-50: #8788A7;
  --blue-40: #A5A6C5;
  --blue-30: #C3C4E3;
  --blue-20: #E5E5F9;
  --blue-10: #EBECF5;
  --purple-90: #270F2F;
  --purple-80: #452D4D;
  --purple-70: #634B6B;
  --purple-60: #816989;
  --purple-50: #9F87A7;
  --purple-40: #BDA5C5;
  --purple-30: #DBC3E3;
  --purple-20: #F2E1F6;
  --white: #FFFFFF;
  --purple-10: #F6EDF8;
  --black: #000000;
  --enabled: var(--green-50);
  --focused: var(--green-40);
  --hovered: var(--green-70);
  --enabled: var(--green-60);
  --enabled: var(--red-50);
  --disabled: var(--gray-30);
  --focused: var(--red-40);
  --hovered: var(--red-60);
  --focused: var(--brown-40);
  --hovered: var(--brown-60);
  --paragraph-spacing: 36px;
  --primary: var(--black);
  --secondary: var(--gray-70);
  --accent: var(--red-70);
  --w-max: 1980px;
  --w-min: 1200px;
  --w: 1728px;
  --padding: 120px;
  --w-max: 1200px;
  --w-min: 940px;
  --w: 1024px;
  --padding: 40px;
  --w-max: 940px;
  --w-min: 375px;
  --w: 412px;
  --padding: 40px;
  --padding: 4px;
  --padding-2: 8px;
  --padding-3: 12px;
  --padding-4: 16px;
  --padding-11: 18px;
  --padding-5: 24px;
  --padding-6: 32px;
  --padding-7: 44px;
  --padding-8: 56px;
  --padding-9: 72px;
  --padding-10: 96px;
}
